@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.Landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Landing_img.jpg");
  background-size: cover;
}

.Naperville_loc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/images/Naperville_front.png");
  background-size: cover;
}

.Lagrange_loc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/images/Lagrange_front.png");
  background-size: cover;
}

.Bolingbrook_loc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("/images/Bolingbrook_front.png");
  background-size: cover;
}

.Naperville_loc:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/Naperville_front.png");
  background-size: cover;
}

.Lagrange_loc:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/Lagrange_front.png");
  background-size: cover;
}

.Bolingbrook_loc:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/Bolingbrook_front.png");
  background-size: cover;

}

.card_rev {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-card img {
  width: 25px;
  height: 25px;
}

.contact-card p {
  gap: 2vw;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 640px) {
  .location h2 {
    width: 80%;
  }

  .Locations {
    flex-direction: column;
    height: auto;
  }

  .location {
    height: 35vh;
  }
}



@media only screen and (max-width: 768px) {
  .location h2 {
    width: 80%;
    font-size: 1.5rem;
  }

  .location a {
    font-size: .8rem;
    width: 50%;
    border: 1px white solid;
  }

  .location {
    height: 55vh;
  }

  .Locations {
    height: auto;
  }

  .reviews_area {
    padding: 10px;
    height: 45vh;
  }

  .card_rev {
    padding-top: 40px;
  }

}


@media only screen and (max-width: 1024px) {
  .location h2 {
    width: 80%;
    font-size: 1.5rem;
  }

  .location a {
    font-size: .8rem;
    width: 50%;
    border: 1px white solid;
  }

  .Landing a {
    width: 15vw;
    border: #48a546 3px solid;
  }

  .Landing p {
    font-size: .9rem;
  }

  .reviews p {
    font-size: 0.7rem;
  }

  .rev_icon {
    width: 12vw;
    height: 12vw;
    font-size: 3.5rem;
  }

  .reviews h3 {
    font-size: 1.3rem;
  }

  .why_mead p {
    font-size: .9rem;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 40vw;
    height: 40vh;
  }

  .stars img {
    width: 25px;
  }

}

@media only screen and (min-width: 1280px) {
  .location h2 {
    width: 80%;
  }

  .card_rev {
    font-size: .7rem;
  }

  .rev_icon {
    max-width: 100px;
    max-height: 100px;
  }
}